{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block corpo %}
{% if perms.doctors.add_doctor %}
<div class="row">
  <div class="col-lg-3">
    <a href="/doctors/add/" ><button class="btn btn-info"><span class="fas fa-plus"></span> Adicionar Médico</button></a>
  </div>
  <div class="col-lg-3">
    <a href="/doctors/export/xlsx/" class="btn btn-sm btn-success shadow-sm">
        <i class="fas fa-file-excel fa-sm text-white-50"></i> Exportar para Excel
    </a>
  </div>
</div>
<br>
{% endif %}
<div class="card shadow mb-4">
  <!-- Card Header - Accordion -->
  <a href="#collapseCardExample" class="d-block card-header py-3" data-toggle="collapse"
      role="button" aria-expanded="true" aria-controls="collapseCardExample">
      <h6 class="m-0 font-weight-bold text-primary">Filtro</h6>
  </a>
  <!-- Card Content - Collapse -->
  <div class="collapse hide" id="collapseCardExample">
      <div class="card-body">
        <form action="." method="get">
          <div class="row">
            <div class="col-lg-3">
              {{ form.name|as_crispy_field }}
            </div>
            <div class="col-lg-3">
              {{ form.specialty|as_crispy_field }}
            </div>
            <div class="col-lg-3">
              {{ form.hospital|as_crispy_field }}
            </div>
            <div class="col-lg-3">
              {{ form.city|as_crispy_field }}
            </div>
          </div>
          <div class="col-lg-12">
            <button class="btn btn-primary" type="submit">Buscar</button>
          </div>
        </form>
      </div>
  </div>
</div>
<div class="card shadow mb-4">
  <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Dados selecionados</h6>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered table-striped" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th scope="col">Nome</th>
            <th scope="col">Especialidade</th>
            <th scope="col">Cidade</th>
            <th scope="col">Hospital</th>
            <th scope="col">Ações</th>
          </tr>
        </thead>
        <tbody>
          {% for doctor in doctors %}
          <tr>
            <th scope="row">{{ doctor.name }}</th>
            <td>{{ doctor.specialty }}</td>
            <td>{{ doctor.city }}</td>
            <td>{{ doctor.hospital }}</td>
            <td>
            {% if perms.doctors.change_doctor %}
            <a href="/doctors/{{ doctor.id }}/edit/" ><button class="btn btn-info"><span class="fas fa-edit"></span></button></a>
            {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
{% block js %}
<!-- Page level plugins -->
<script src="/static/sb/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="/static/sb/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="/static/sb/js/demo/datatables-demo.js"></script>
{% endblock %}
